version: "3.8"
services:
  db:
    image: mysql:8.0
    container_name: wallet_secure_db_container
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: wallet_secure_db
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  mysql_data:
